.container {
  display: flex;
  flex-direction: row;
}

.grid {
  margin-right: 2rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.statAndRulesContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playButton {
  margin: 1rem;
  height: 3rem;
  width: 5rem;
}
